* {
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca", sans-serif;
}

body {
  background-color: crimson;
  text-align: center;
}

h1 {
  color: white;
  padding-top: 2rem;
}

.container {
  height: 70vh; /* 70% of the webpage is given to the container. */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin; /* We gave game class 60%, so if we want this divided to three then we need to give it 20%. But we choose less.  */
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  font-size: 8vmin;
  background-color: bisque;
  color: black;
  box-shadow: inset 5px 5px 10px rgba(210, 180, 140, 0.6),
    inset -5px -5px 10px rgba(255, 255, 255, 0.9);
}

.box:hover {
  background-color: #f2c078;
  color: #000000;
}
.box:active {
  box-shadow: inset 2px 2px 5px rgba(210, 180, 140, 0.6),
    inset -2px -2px 5px rgba(255, 255, 255, 0.9);
  transform: scale(0.97);
}

#reset,
#new-btn {
  padding: 1rem;
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 0.9rem;
  border: solid;
}
#reset:hover,
#new-btn:hover {
  background-color: red;
  color: white;
  border-color: white;
}

#turn-indicator {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
  color: white;
  font-size: x-large;
}

.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  color: white;
  font-size: xx-large;
}

.hide {
  display: none;
}
